* {
  font-family: inter, sans-serif;
}

.forms-container {
  flex-wrap: nowrap;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  color: rgb(167, 163, 163);
}

.alert {
  color: red;
}

.container-button {
  display: flex;
  flex-direction: row;
}

.first-question {
  margin-top: 100px;
}

.other-questions {
  margin-top: 30px;
}

.banner {
  width: 450px;
}